In [10]:
pip install pymysql

Collecting pymysqlNote: you may need to restart the kernel to use updated packages.

  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [11]:
import pandas as pd
import pymysql

In [22]:
# 1️⃣ Read the Excel file
file_path = r"C:\Users\Microsoft\Desktop\Datasets\archive (2)\used_car_listings.xlsx"
df = pd.read_excel(file_path)
df = df.where(pd.notnull(df), None)

In [23]:
# 2️⃣ Connect to MySQL
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='lhtr23@#2223L',
    database='carros_usado',
    charset='utf8mb4'
)
cursor = conn.cursor()

In [24]:
# 3️⃣ Prepare INSERT statement (adjust columns to match your table)
table_name = "used_car_listings"
columns = ", ".join([f"`{col}`" for col in df.columns])
placeholders = ", ".join(['%s'] * len(df.columns))
sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"

In [25]:
# 4️⃣ Insert all rows
for row in df.itertuples(index=False, name=None):
    cursor.execute(sql, row)

conn.commit()
cursor.close()
conn.close()

print("Data imported successfully!")

Data imported successfully!